[Oo]bj/
[Bb]in/
.vscode/
.vs/RolePlayI/v16/TestStore/0/000.testlog
*.testlog
*.testlog
.vs/RolePlayI/v16/TestStore/0/000.testlog
.vs/RolePlayI/v16/TestStore/0/000.testlog
*.testlog
.vs/RolePlayI/v17/.suo
.vs/RolePlayI/v17/.suo
